.backgroundSolid {
    position: relative;
    background-size: cover;
    background: var(--codgray);
    z-index: 2;
}
.noiseBack {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/noise.png');
    background-size: cover;
    background-position: center;
    z-index: 6;
    position: absolute;
}

.blurBack {
    overflow: hidden;
    position: relative;
}

.ellipseWhite {
    position: absolute;
    background: var(--athens);
    filter: blur(40vw);
    border-radius: 50%;
    width: 80vw;
    height: 80vw;
    width: 634.83px;
    height: 711.31px;
    z-index: 2;
}

.ellipseBlue {
    position: absolute;
    background: var(--denim);
    filter: blur(25vw);
    border-radius: 50%;
    width: 80vw;
    height: 80vw;
    width: 634.83px;
    height: 711.31px;
    z-index: 2;
}

#e7 {
    top: 12%;
    left: 5%;
}

#e8 {
    top: 1%;
    width: 822.13px;
    height: 922.53px;
}

#e10 {
    top: 45%;
}

#e9 {
    top: 30%;
    right: 70%;
}

#e11 {
    left: 80%;
    top: 50%;
}

.ellipseWhiteMap {
    position: absolute;
    background: var(--athens);
    filter: blur(170.825px);
    width: 996.58px;
    height: 973.37px;
    border-radius: 50%;
    z-index: -1;
}

.ellipseBlueMap {
    position: absolute;
    background: var(--denim);
    filter: blur(183.578px);
    height: 861.15px;
    border-radius: 50%;
    z-index: -1;
}

#e22 {
    height: 1116.87px;
    opacity: 0.8;
    left: -1.58%;
    top: -0.86%;
}

#e18 {
    width: 1503.16px;
    height: 1116.87px;
    opacity: 0.8;
    left: -119.56%;
    top: 83.59%;
}

#e23 {
    height: 1316.87px;
    left: -119.56%;
    top: 8.04%;
}

#e19 {
    height: 1116.87px;
    left: 5.19%;
    top: 65.47%;
}

#e12 {
    opacity: 0.8;
    left: -44.95%;
    top: 26.38%;
}

#e14 {
    opacity: 0.8;
    left: -191.2%;
    top: 36.18%;
}

#e21 {
    width: 1389.34px;
    height: 1271.65px;
    opacity: 0.8;
    left: -117.86%;
    top: 62.15%;
}

#e15 {
    opacity: 0.8;
    height: 1227.41px;
    left: -4.4%;
    top: 41.91%;
}

#e24 {
    width: 916.95px;
    height: 1127.41px;
    left: -99.36%;
    top: 2.3%;
}

#e25 {
    width: 768.56px;
    left: -7.26%;
    top: 18.57%;
}

#e13 {
    width: 855.77px;
    left: -153.81%;
    top: 28.42%;
}

#e16 {
    width: 697.03px;
    height: 531.69px;
    left: 41.79%;
    top: 46.27%;
}

#e17 {
    width: 855.77px;
    left: -0.39%;
    top: 57.51%;
}

#e20 {
    width: 877.88px;
    height: 960.3px;
    left: -103.03%;
    top: 75.57%;
}

@media (min-width: 680px) {
    .ellipseWhite {
        filter: blur(30vw);
    }

    .ellipseBlue {
        filter: blur(15vw);
    }
    .ellipseWhiteMap {
        filter: blur(25vw);
        width: 1800px;
    }

    .ellipseBlueMap {
        filter: blur(20vw);
        height: 1500px;
    }
}

@media (min-width: 1200px) {
    .ellipseWhite {
        position: absolute;
        background: var(--athens);
        filter: blur(10vw);
        border-radius: 50%;
        width: 80vw;
        height: 80vw;
    }

    .ellipseBlue {
        position: absolute;
        background: var(--denim);
        filter: blur(15vw);
        border-radius: 50%;
        width: 80vw;
        height: 80vw;
    }

    #e8 {
        left: 15%;
        top: -10%;
        bottom: 20%;
        filter: blur(10vw);
        width: 99vw;
        height: 99vw;
    }

    #e7 {
        left: 25%;
        right: 15%;
        top: 10%;
    }

    #e10 {
        left: 10%;
        top: 50%;
    }

    #e9 {
        top: 30%;
        right: 70%;
    }

    #e11 {
        left: 56%;
        top: 70%;
    }

    .ellipseWhiteMap {
        filter: blur(254.5px);
        width: 1482.86px;
        height: 1663.94px;
    }

    .ellipseBlueMap {
        width: 1482.86px;
        height: 1663.94px;
        filter: blur(273.5px);
    }

    #e22 {
        width: 1482.86px;
        height: 1663.94px;
        left: 29%;
        top: -1%;
        opacity: 0.8;
    }

    #e23 {
        width: 1482.86px;
        height: 1663.94px;
        left: -13%;
        top: 14%;
    }

    #e12 {
        left: 12.12%;
        top: 33%;
        opacity: 0.8;
    }

    #e14 {
        left: -44.51%;
        top: 50%;
        opacity: 0.8;
    }

    #e19 {
        left: 27.82%;
        right: -26.02%;
        top: 60%;
        bottom: 33.17%;
        opacity: 0.8;
        width: 85vw;
        height: 99vw;
    }

    #e18 {
        width: 2239.44px;
        height: 1663.94px;
        left: -20%;
        top: 88%;
        opacity: 0.8;
    }

    #e21 {
        left: 37%;
        top: 93%;
        opacity: 1;
    }
    #e15 {
        display: none;
    }

    #e24 {
        width: 1145.02px;
        left: -10%;
        top: 4%;
    }

    #e25 {
        width: 1145.02px;
        height: 1282.96px;
        left: 30%;
        top: 26%;
    }

    #e13 {
        width: 1274.95px;
        left: -10%;
        top: 38%;
        bottom: 51.39%;
    }

    #e20 {
        display: none;
    }
    #e16 {
        width: 1038.46px;
        height: 792.12px;
        left: 45.71%;
        right: -14.39%;
        top: 65%;
    }

    #e17 {
        width: 1274.95px;
        height: 1282.96px;
        left: 29.38%;
        right: -13.7%;
        top: 82%;
    }
}
