.blurBack {
    overflow: hidden;
    position: relative;
}

.ellipseWhite {
    position: absolute;
    background: var(--athens);
    filter: blur(10vw);
    border-radius: 50%;
    width: 80vw;
    height: 80vw;
}

.ellipseBlue {
    position: absolute;
    background: var(--denim);
    filter: blur(10vw);
    border-radius: 50%;
    width: 80vw;
    height: 80vw;
}

#e8 {
    left: 15%;
    bottom: 20%;
    filter: blur(10vw);
    width: 99vw;
    height: 99vw;
}

#e7 {
    left: 25%;
    right: 15%;
    top: 10%;
}

#e10 {
    left: 10%;
    top: 50%;
}

#e9 {
    top: 30%;
    right: 70%;
}

#e11 {
    left: 56%;
    top: 70%;
}

@media (min-width: 1200px) {
    .ellipseWhite {
        position: absolute;
        background: var(--athens);
        filter: blur(10vw);
        border-radius: 50%;
        width: 80vw;
        height: 80vw;
    }

    .ellipseBlue {
        position: absolute;
        background: var(--denim);
        filter: blur(10vw);
        border-radius: 50%;
        width: 80vw;
        height: 80vw;
    }

    #e8 {
        left: 15%;
        bottom: 20%;
        filter: blur(10vw);
        width: 99vw;
        height: 99vw;
    }

    #e7 {
        left: 25%;
        right: 15%;
        top: 10%;
    }

    #e10 {
        left: 10%;
        top: 50%;
    }

    #e9 {
        top: 30%;
        right: 70%;
    }

    #e11 {
        left: 56%;
        top: 70%;
    }
}
