* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Satoshi-Regular', sans-serif;
}

body {
    margin: 0;
    --codgray: #161616;
    --athens: #f7f7f8;
    --denim: #1851e3;
    --gallery: #eeeeee;
    font-family: 'Satoshi-Regular', sans-serif;
}

.main {
    margin: 0 auto;
}
