/*Desktop*/
.newsletter_contact {
    padding-left: 10rem;
    padding-right: 10rem;
    background-color: var(--denim);
    min-height: 300px;
    height: 850.5px;
    display: flex;
    flex-direction: column;
    color: #f7f7f8;
    font-family: 'Satoshi-Regular';
    align-items: center;
}


.contact,
.newsletter {
    width: 80%;
    flex: 1;
}

.contact {
    border-bottom: none;
    padding-top: 1rem;
}

.both_title {
    padding: 3rem 0rem 0rem 0rem;
    font-size: 67.2px;
    margin-bottom: 1rem;
    font-weight: 300;
    line-height: 96px;
    margin-bottom: 2rem;
}

.nc_text {
    font-size: 16.8px;
    font-style: none;
    font-family: 'Satoshi-Regular';
    font-weight: 300;
    color: white;
    margin-top: 1.5rem;
}

.newsletter {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    border-top: 1px solid white;
}

.newsletter_left,
.newsletter_right {
    flex: 1;
}

.newsletter_right {
    margin-top: 8rem;
}

.newsletter_email {
    display: flex;
    flex-direction: column;
}

.newsletter_email input {
    background-color: rgba(25, 81, 228, 255);
    color: white;
    border: none;
    border-bottom: 1px solid white;
    height: 34px;
}

.newsletter_email input:hover {
    background-color: white;
    color: rgba(25, 81, 228, 255);
    font-weight: bolder;
    padding-left: 0.1rem;
}

.newsletter_email input::placeholder {
    color: white;
    opacity: 0.3;
    font-size: 16.8px;
    padding-left: 0.1rem;
}

.nc_email {
    padding-bottom: 0.4rem;
    font-weight: 700;
    font-size: 16.8px;
    line-height: 24px;
}

.button_contact {
    border-radius: 840px;
    background-color: #f7f7f8;
    font-size: 14.7px;
    font-weight: 400;
    color: #1851e3;
    width: 84.3px;
    height: 35.7px;
    border: 1.05px;
    margin-top: 2.5rem;
    padding-bottom: 3px;
    cursor: pointer;
    transition: transform 0.5s ease;
}


.button_contact.transformed {
    transform: translateY(28rem);
    width: 3rem;
}


.visible .button_contact:hover {
    background-color: #1851e3;
    color: #f7f7f8;
    border: 1px solid white;
}

.button_contact:hover {
    background-color: #1851e3;
    color: #f7f7f8;
    border: 1px solid white;
}

.contact_button_box {
    display: flex;
    justify-content: center;
}

.hidden_form {
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 10rem;
    gap: 6rem;
    margin-top: 0rem;
    margin-left: 0rem;
    top: 1;
    justify-content: center;
    opacity: 0;
    transform: translateY(-5%);
    animation: slideUp 0.25s ease forwards
}

.hidden_left,
.hidden_right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hidden_right {
    flex-direction: column;
}

.hidden_form.visible {
    transform: translateY(5%);
    animation: slideDown 0.5s ease forwards;
}

.contact.not-expanded {
    transform: translateY(-5%);
    animation: slideUp 0.5s ease forwards
}




.contacto_email_input {
    margin-top: 1rem;
    background-color: rgba(25, 81, 228, 255);
    border: none;
    border-bottom: 1px solid white;
    margin-right: 0.5rem;
    height: 30px;
}

.contacto_email_input::placeholder {
    color: white;
    opacity: 0.3;
    font-size: 16.8px;
    padding-left: 0.1rem;
    margin-bottom: 0.5rem;
}

.subscribe_contact {
    border-radius: 840px;
    background-color: #f7f7f8;
    font-size: 11px;
    font-weight: 400;
    color: #1851e3;
    width: 65px;
    height: 22px;
    border: 1.05px;
    padding-bottom: 3px;
    cursor: pointer;
}

.hidden_form_input {
    width: 100%;
}


.hl_text {
    font-size: 25px;
    font-weight: 400;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-5%);
    }

    to {
        opacity: 1;
        transform: translateY(16%);
    }
}

@keyframes slideUp {
    from {
        opacity: 1;
        transform: translateY(16%);
    }

    to {
        opacity: 0;
        transform: translateY(-5%);
    }
}

/* 
adicionar mais um bocado de padding - comparar c/ o site da ingenyous + formulario de contacto*/
/*Tablet */
@media (max-width: 1320px) {
    .button_contact {
        margin-bottom: 2rem;
    }

    .contact_button_box {
        padding-top: 2rem;
    }

    .both_title {
        font-size: 55px;
    }

    .hidden_form {
        margin-top: 2.4rem;
    }
}

/* Smartphone */
@media (max-width: 780px) {
    .newsletter {
        flex-direction: column;
        gap: 0rem;
        border-top: 1px solid white;
    }

    .newsletter_contact {
        height: 100%;
    }

    .newsletter_right {
        margin-bottom: 3rem;
        padding: 0px;
        margin-top: 3rem;
    }

    .button_contact {
        margin-bottom: 2rem;
    }

    .contact_button_box {
        padding-top: 2rem;
    }

    .both_title {
        font-size: 40px;
    }

    .hidden_form {
        margin-top: 2.4rem;
    }
}