/*Desktop*/
.newsletter_contact {
    padding-left: 7rem;
    padding-right: 7rem;
    background-color: var(--denim);
    height: 20rem;
    display: flex;
    flex-direction: column;
    color: var(--athens);
    font-family: 'Satoshi-Regular';
    align-items: center;
}

.contact,
.newsletter {
    width: 80%;
    flex: 1;
}

.contact {
    border-bottom: none;
    padding-top: 1rem;
}

.both_title {
    padding: 3rem 0rem 0rem 0rem;
    font-size: 67.2px;
    margin-bottom: 1rem;
    font-weight: 300;
    line-height: 96px;
    margin-bottom: 2rem;
}

.nc_text {
    font-size: 16.8px;
    font-style: none;
    font-family: 'Satoshi-Regular';
    font-weight: 300;
    color: var(--athens);
    margin-top: 1.5rem;
}

.newsletter {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.newsletter_left,
.newsletter_right {
    flex: 1;
}

.newsletter_right {
    margin-top: 8rem;
}

.newsletter_email {
    display: flex;
    flex-direction: column;
}

.hidden_form_input {
    background-color: rgba(25, 81, 228, 255);
    color: var(--athens);
    border: none;
    border-bottom: 1px solid var(--athens);
    height: 25px;
    width: 100%;
    outline: none;
}

.hidden_form_textarea {
    background-color: rgba(25, 81, 228, 255);
    color: var(--athens);
    border: none;
    border-bottom: 1px solid var(--athens);
    height: 25px;
    width: 100%;
    height: 5rem;
}

.hidden_form_input.clicked,
.hidden_form_textarea.clicked {
    background-color: var(--athens);
    color: rgba(25, 81, 228, 255);
    font-weight: bolder;
    padding-left: 0.1rem;
}

.newsletter_email input::placeholder,
.newsletter_email textarea::placeholder {
    color: var(--athens);
    opacity: 0.3;
    font-size: 16.8px;
    padding-left: 0.1rem;
}

.nc_email {
    padding-top: 0.2rem;
    padding-bottom: 0.4rem;
    font-weight: 700;
    font-size: 16.8px;
    line-height: 24px;
}

.button_contact {
    border-radius: 840px;
    background-color: var(--athens);
    font-size: 14.7px;
    font-weight: 400;
    color: var(--denim);
    width: 84.3px;
    height: 35.7px;
    border: 1.05px;
    margin-top: 1rem;
    padding-bottom: 3px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.button_contact.transformed {
    transform: translateY(28rem);
    width: 3rem;
}

.visible .button_contact:hover {
    background-color: var(--denim);
    color: var(--athens);
    border: 1px solid var(--athens);
}

.button_contact:hover {
    background-color: var(--denim);
    color: var(--athens);
    border: 1px solid var(--athens);
}

.contact_button_box {
    display: flex;
    justify-content: center;
}

.hidden_form {
    visibility: hidden;
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 10rem;
    gap: 3rem;
    top: 1;
    justify-content: center;
    opacity: 0;
    transform: translateY(0%);
    animation: slideUp 0.25s ease forwards;
}

.hidden_left,
.hidden_right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hidden_right {
    flex-direction: column;
}

.hidden_form.visible {
    visibility: inherit;
    transform: translateY(2%);
    animation: slideDown 0.5s ease forwards;
}

.contacto_email_input {
    margin-top: 1rem;
    background-color: rgba(25, 81, 228, 255);
    border: none;
    border-bottom: 1px solid var(--athens);
    margin-right: 0.5rem;
    height: 30px;
}

.contacto_email_input::placeholder {
    color: var(--athens);
    opacity: 0.3;
    font-size: 16.8px;
    padding-left: 0.1rem;
    margin-bottom: 0.5rem;
}

.subscribe_contact {
    border-radius: 840px;
    background-color: var(--athens);
    font-size: 11px;
    font-weight: 400;
    color: var(--denim);
    width: 65px;
    height: 22px;
    border: 1.05px;
    padding-bottom: 3px;
    cursor: pointer;
}

.hl_text {
    font-size: 25px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.hl_li {
    padding-top: 1rem;
    /* espaçamento entre os itens */
}

.checkbox_email_confirm {
    padding-top: 0.3rem;
    padding-left: 1rem;
    font-weight: 400;
}

.animation_checkbox {
    opacity: 1;
    /* Inicialmente, o elemento estará invisível */
    transform: translateY(-100%);
    /* O elemento estará posicionado acima */
    animation: slideDownCheckbox 1s ease forwards;
    /* Aplica a animação */
}

.animation_checkbox.slideUpCheckbox {
    animation: slideUpCheckbox 1s ease forwards;
}

.checkbox_email_confirm label {
    padding-left: 0.3rem;
}

.checkbox_email_confirm input {
    padding-top: 2rem;
}

@keyframes slideDownCheckbox {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUpCheckbox {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-20%);
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-5%);
    }

    to {
        opacity: 1;
        transform: translateY(16%);
    }
}

@keyframes slideUp {
    from {
        opacity: 1;
        transform: translateY(16%);
    }

    to {
        opacity: 0;
        transform: translateY(-5%);
    }
}

/* 
adicionar mais um bocado de padding - comparar c/ o site da ingenyous + formulario de contacto*/
/*Tablet */
@media (max-width: 1320px) {
    .button_contact {
        margin-bottom: 2rem;
    }

    .contact_button_box {
        padding-top: 2rem;
    }

    .both_title {
        font-size: 55px;
    }

    .hidden_form {
        margin-top: 2.4rem;
    }
}

/* Smartphone */
@media (max-width: 780px) {
    .newsletter {
        flex-direction: column;
        gap: 0rem;
    }

    .newsletter_contact {
        height: 100%;
    }

    .newsletter_right {
        margin-bottom: 3rem;
        padding: 0px;
        margin-top: 3rem;
    }

    .button_contact {
        margin-bottom: 2rem;
    }

    .contact_button_box {
        padding-top: 2rem;
    }

    .both_title {
        font-size: 40px;
    }

    .hidden_form {
        margin-top: 2.4rem;
    }
}
