@media (max-width: 2010px) {
    .newsletter_contact {
        background-color: var(--denim);
        min-height: 300px;
        height: 850.5px;
        display: flex;
        flex-direction: column;
        color: #F7F7F8;
        font-family: 'Satoshi-Regular';
        align-items: center;
    }


    .contact,
    .newsletter {
        width: 80%;
        flex: 1;
    }


    .contact {
        border-bottom: none;
        padding-top: 2rem;
    }


    .both_title {
        padding: 3rem 0rem 0rem 0rem;
        font-size: 67.2px;
        margin-bottom: 1rem;
        font-weight: 300;
        line-height: 96px;
        margin-bottom: 2rem;
    }

    .nc_text {
        font-size: 16.8px;
        font-style: none;
        font-family: 'Satoshi-Regular';
        font-weight: 300;
        color: white;
        margin-top: 1.5rem;
    }


    .newsletter {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        border-top: 1px solid white;

    }



    .newsletter_left,
    .newsletter_right {
        flex: 1;
    }

    .newsletter_right {
        margin-top: 8rem;
    }



    .newsletter_email {
        display: flex;
        flex-direction: column;
    }


    .newsletter_email input {
        background-color:
            rgba(25, 81, 228, 255);
        border: none;
        border-bottom: 1px solid white;
        height: 34.38px;
    }


    .newsletter_email input::placeholder {
        color: white;
        opacity: 0.3;
        font-size: 16.8px;
    }

    .nc_email {
        font-weight: 700;
        font-size: 16.8px;
        line-height: 24px;
    }

    .button_contact {
        border-radius: 840px;
        background-color: #F7F7F8;
        font-size: 14.7px;
        font-weight: 400;
        color: #1851E3;
        width: 84.3px;
        height: 35.7px;
        border: 1.05px;
        padding-bottom: 3px;
        cursor: pointer;
    }

    .button_contact:hover {
        background-color: #1851E3;
        color: #F7F7F8;
        border: 1px solid white;
    }

    .contact_button_box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 3.7rem
    }
}






/* ************** MEDIA QUERY ************** */
/*Tablet */
@media (max-width: 1020px) {
    .button_contact {
        margin-bottom: 2rem;
    }

    .contact_button_box {
        padding-top: 2rem
    }

    .both_title {
        font-size: 55px;
    }
}



/* Smartphone */
@media (max-width: 780px) {
    .newsletter {
        flex-direction: column;
        gap: 0rem;
        border-top: 1px solid white;
    }

    .newsletter_contact {
        height: 100%;
    }

    .newsletter_right {
        margin-bottom: 3rem;
        padding: 0px;
        margin-top: 3rem;
    }

    .button_contact {
        margin-bottom: 2rem;
    }

    .contact_button_box {
        padding-top: 2rem
    }

    .both_title {
        font-size: 40px;
    }

}