/*Desktop*/
.newsletter_contact {
    padding-left: 7rem;
    padding-right: 7rem;
    background-color: var(--denim);
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: var(--athens);
    font-family: 'Satoshi-Light', sans-serif;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 6;
}

.both_title {
    padding: 3rem 0rem 0rem 0rem;
    font-size: 67.2px;
    font-weight: 300;
    line-height: 96px;
    margin-bottom: 2rem;
    font-family: 'Satoshi-Light', sans-serif;
}

.nc_text {
    font-size: 16.8px;
    font-style: none;
    font-family: 'Satoshi-Light', sans-serif;
    font-weight: 300;
    color: var(--athens);
}

.newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5rem;
    padding-top: 2.9rem;
    max-width: 1500px;
}

.newsletter_left,
.newsletter_right {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.newsletter_right {
    margin-top: 8rem;
}

.newsletter_email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.hidden_form_input {
    background-color: rgba(25, 81, 228, 255);
    color: var(--athens);
    border: none;
    border-bottom: 1px solid var(--athens);
    height: 25px;
    outline: none;
}

.hidden_form_input.clicked,
.hidden_form_textarea.clicked {
    color: var(--athens);
}

.hidden_form_input.clicked::-moz-selection {
    background-color: var(--athens);
    color: var(--denim);
}

.hidden_form_input.clicked::selection {
    background-color: var(--athens);
    color: var(--denim);
}

.newsletter_email input::-webkit-input-placeholder,
.newsletter_email textarea::-webkit-input-placeholder {
    color: var(--athens);
    opacity: 0.3;
    font-size: 16.8px;
    padding-left: 0.1rem;
}

.newsletter_email input::-moz-placeholder,
.newsletter_email textarea::-moz-placeholder {
    color: var(--athens);
    opacity: 0.3;
    font-size: 16.8px;
    padding-left: 0.1rem;
}

.newsletter_email input:-ms-input-placeholder,
.newsletter_email textarea:-ms-input-placeholder {
    color: var(--athens);
    opacity: 0.3;
    font-size: 16.8px;
    padding-left: 0.1rem;
}

.newsletter_email input::-ms-input-placeholder,
.newsletter_email textarea::-ms-input-placeholder {
    color: var(--athens);
    opacity: 0.3;
    font-size: 16.8px;
    padding-left: 0.1rem;
}

.newsletter_email input::placeholder,
.newsletter_email textarea::placeholder {
    color: var(--athens);
    opacity: 0.3;
    font-size: 16.8px;
    padding-left: 0.1rem;
}

.nc_email {
    padding-top: 0.2rem;
    padding-bottom: 0.4rem;
    font-weight: 700;
    font-size: 16.8px;
    line-height: 24px;
}

.button_contact {
    padding-bottom: 2px;
    border-radius: 840px;
    font-size: 14.7px;
    font-weight: 400;
    width: 68px;
    height: 34px;
    margin-top: 1rem;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition:
        transform 0.5s ease,
        -webkit-transform 0.5s ease;
    background-color: var(--denim);
    color: var(--athens);
    border: 1px solid var(--athens);
}

.button_contact.transformed {
    -webkit-transform: translateY(28rem);
    -ms-transform: translateY(28rem);
    transform: translateY(28rem);
    width: 3rem;
}

.visible .button_contact:hover {
    background-color: var(--denim);
    color: var(--athens);
    border: 1px solid var(--athens);
}

.button_contact:hover {
    background-color: var(--athens);
    color: var(--denim);
}

.animation_checkbox {
    opacity: 1;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-animation: slideDownCheckbox 1s ease forwards;
    animation: slideDownCheckbox 1s ease forwards;
}

.animation_checkbox.slideUpCheckbox {
    -webkit-animation: slideUpCheckbox 1s ease forwards;
    animation: slideUpCheckbox 1s ease forwards;
    visibility: hidden;
    -webkit-transition: 700ms ease;
    -o-transition: 700ms ease;
    transition: 700ms ease;
}

.checkbox_email_confirm label {
    padding-left: 0.3rem;
    width: 50%;
}

.checkbox_email_confirm > label > a {
    font-family: 'Satoshi-Light', sans-serif;
    text-decoration: none;
    color: var(--athens);
    width: 20%;
}

.checkbox_email_confirm input {
    padding-top: 2rem;
}

@-webkit-keyframes slideDownCheckbox {
    from {
        opacity: 0;
        -webkit-transform: translateY(-5%);
        transform: translateY(-5%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideDownCheckbox {
    from {
        opacity: 0;
        -webkit-transform: translateY(-5%);
        transform: translateY(-5%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes slideUpCheckbox {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        -webkit-transform: translateY(-5%);
        transform: translateY(-5%);
    }
}

@keyframes slideUpCheckbox {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        -webkit-transform: translateY(-5%);
        transform: translateY(-5%);
    }
}

@-webkit-keyframes slideDown {
    from {
        opacity: 0;
        -webkit-transform: translateY(-5%);
        transform: translateY(-5%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(16%);
        transform: translateY(16%);
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        -webkit-transform: translateY(-5%);
        transform: translateY(-5%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(16%);
        transform: translateY(16%);
    }
}

@-webkit-keyframes slideUp {
    from {
        opacity: 1;
        -webkit-transform: translateY(16%);
        transform: translateY(16%);
    }

    to {
        opacity: 0;
        -webkit-transform: translateY(-5%);
        transform: translateY(-5%);
    }
}

@keyframes slideUp {
    from {
        opacity: 1;
        -webkit-transform: translateY(16%);
        transform: translateY(16%);
    }

    to {
        opacity: 0;
        -webkit-transform: translateY(-5%);
        transform: translateY(-5%);
    }
}

/*Tablet */
@media (max-width: 1320px) {
    .button_contact {
        margin-bottom: 2rem;
    }

    .contact_button_box {
        padding-top: 2rem;
    }

    .both_title {
        font-size: 55px;
    }

    .hidden_form {
        margin-top: 2.4rem;
    }
}

/* Smartphone */
@media (max-width: 780px) {
    .newsletter_contact {
        padding-left: 2rem;
        padding-right: 2rem;
        height: 100%;
    }

    .both_title {
        padding: 0;
        margin-top: 1rem;
        font-size: 40px;
    }

    .newsletter {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 0rem;
    }

    .newsletter_right {
        margin-bottom: 3rem;
        padding: 0px;
        margin-top: 3rem;
    }

    .button_contact {
        margin-bottom: 2rem;
    }

    .contact_button_box {
        padding-top: 2rem;
    }

    .hidden_form {
        margin-top: 2.4rem;
    }
}
