/*Desktop*/
.newsletter_contact {
    padding-left: 7rem;
    padding-right: 7rem;
    background-color: var(--denim);
    height: 400px;
    display: flex;
    flex-direction: column;
    color: var(--athens);
    font-family: 'Satoshi-Light';
    align-items: center;
    position: relative;
    z-index: 6;
}

.both_title {
    padding: 3rem 0rem 0rem 0rem;
    font-size: 67.2px;
    margin-bottom: 1rem;
    font-weight: 300;
    line-height: 96px;
    margin-bottom: 2rem;
    font-family: 'Satoshi-Light';
}

.nc_text {
    font-size: 16.8px;
    font-style: none;
    font-family: 'Satoshi-Light';
    font-weight: 300;
    color: var(--athens);
}

.newsletter {
    display: flex;
    gap: 5rem;
    padding-top: 2.9rem;
    max-width: 1500px;
}

.newsletter_left,
.newsletter_right {
    flex: 1;
}

.newsletter_right {
    margin-top: 8rem;
}

.newsletter_email {
    display: flex;
    flex-direction: column;
}

.hidden_form_input {
    background-color: rgba(25, 81, 228, 255);
    color: var(--athens);
    border: none;
    border-bottom: 1px solid var(--athens);
    height: 25px;
    outline: none;
}

.hidden_form_input.clicked,
.hidden_form_textarea.clicked {
    /* background-color: var(--athens); */
    /* font-weight: bolder; */
    color: var(--athens);
    padding-left: 0.1rem;
}

.hidden_form_input.clicked::selection {
    background-color: var(--athens);
    color: var(--denim);
}

.newsletter_email input::placeholder,
.newsletter_email textarea::placeholder {
    color: var(--athens);
    opacity: 0.3;
    font-size: 16.8px;
    padding-left: 0.1rem;
}

.nc_email {
    padding-top: 0.2rem;
    padding-bottom: 0.4rem;
    font-weight: 700;
    font-size: 16.8px;
    line-height: 24px;
}

.button_contact {
    padding-bottom: 2px;
    border-radius: 840px;
    font-size: 14.7px;
    font-weight: 400;
    width: 68px;
    height: 34px;
    border: 1px;
    margin-top: 1rem;
    cursor: pointer;
    transition: transform 0.5s ease;
    background-color: var(--denim);
    color: var(--athens);
    border: 1px solid var(--athens);
}

.button_contact.transformed {
    transform: translateY(28rem);
    width: 3rem;
}

.visible .button_contact:hover {
    background-color: var(--denim);
    color: var(--athens);
    border: 1px solid var(--athens);
}

.button_contact:hover {
    background-color: var(--athens);
    color: var(--denim);
}

.animation_checkbox {
    opacity: 1;
    /* Inicialmente, o elemento estará invisível */
    transform: translateY(-100%);
    /* O elemento estará posicionado acima */
    animation: slideDownCheckbox 1s ease forwards;
    /* Aplica a animação */
}

.animation_checkbox.slideUpCheckbox {
    animation: slideUpCheckbox 1s ease forwards;
    visibility: hidden;
    transition: 700ms ease;
}

.checkbox_email_confirm label {
    padding-left: 0.3rem;
    width: 50%;
}

.checkbox_email_confirm > label > a {
    font-family: 'Satoshi-Light';
    text-decoration: none;
    color: var(--athens);
    width: 20%;
}

.checkbox_email_confirm input {
    padding-top: 2rem;
}

@keyframes slideDownCheckbox {
    from {
        opacity: 0;
        transform: translateY(-5%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUpCheckbox {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-5%);
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-5%);
    }

    to {
        opacity: 1;
        transform: translateY(16%);
    }
}

@keyframes slideUp {
    from {
        opacity: 1;
        transform: translateY(16%);
    }

    to {
        opacity: 0;
        transform: translateY(-5%);
    }
}

/* 
adicionar mais um bocado de padding - comparar c/ o site da ingenyous + formulario de contacto*/
/*Tablet */
@media (max-width: 1320px) {
    .button_contact {
        margin-bottom: 2rem;
    }

    .contact_button_box {
        padding-top: 2rem;
    }

    .both_title {
        font-size: 55px;
    }

    .hidden_form {
        margin-top: 2.4rem;
    }
}

/* Smartphone */
@media (max-width: 780px) {
    .newsletter_contact {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .both_title {
        padding: 0;
        margin-top: 1rem;
    }

    .newsletter {
        flex-direction: column;
        gap: 0rem;
    }

    .newsletter_contact {
        height: 100%;
    }

    .newsletter_right {
        margin-bottom: 3rem;
        padding: 0px;
        margin-top: 3rem;
    }

    .button_contact {
        margin-bottom: 2rem;
    }

    .contact_button_box {
        padding-top: 2rem;
    }

    .both_title {
        font-size: 40px;
    }

    .hidden_form {
        margin-top: 2.4rem;
    }
}
