.noise {
    background-image: url('noise.png');
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.mainMap {
    font-weight: 400;
    color: var(--athens);
    background-image: url('noise.png');
    background-size: contain;
}

.scroll-to-top {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 400;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 20px;
    opacity: 0;
    transform: rotate(180deg);
    scale: 1.5;
}

.scroll-to-top.show {
    opacity: 1;
    cursor: pointer;
}

.errorPage {
    display: flex;
    flex-direction: column;
    background-color: var(--codgray);
    height: 100vh;
}

.errorcode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25vw;
    position: absolute;
    opacity: 0.2;
    font-family: 'Satoshi-Black';
    font-weight: 900;
    color: var(--athens);
    pointer-events: none;
}

.redireccion {
    position: absolute;
    background-color: transparent;
    border-radius: 25px;
    color: var(--athens);
    padding: 0.5rem 1rem;
    border: 1px solid var(--athens);
    font-size: 16px;
    text-decoration: none;
    bottom: 5rem;
}

.redireccion:hover {
    background-color: var(--athens);
    color: var(--codgray);
}

@media (min-width: 1200px) {
    .scroll-to-top {
        bottom: 3rem;
        right: 3rem;
        scale: 2;
    }
}
