.noise {
    background-image: url('/noise.png');
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 6;
}

.mainMap {
    font-weight: 400;
    color: var(--athens);
    background-image: url('/noise.png');
    background-size: contain;
    z-index: 6;
}

.scroll-to-top {
    position: fixed;
    bottom: 1.5rem;
    right: 0.5rem;
    z-index: 400;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 20px;
    opacity: 0;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    scale: 1.5;
}

.scroll-to-top:hover .arrow-icon {
    fill: var(--denim);
}

.scroll-to-top.show {
    opacity: 1;
    cursor: pointer;
}

.errorPage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: var(--codgray);
    height: 100vh;
}

.errorcode {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 25vw;
    position: absolute;
    opacity: 0.2;
    font-family: 'Satoshi-Black';
    font-weight: 900;
    color: var(--athens);
    pointer-events: none;
}

.redireccion {
    background-color: transparent;
    border-radius: 25px;
    color: var(--athens);
    padding: 0.5rem 1rem;
    border: 1px solid var(--athens);
    font-size: 16px;
    text-decoration: none;
    position: fixed;
    bottom: 10rem;
}

.redireccion:hover {
    background-color: var(--athens);
    color: var(--denim);
}

.errorHome {
    position: absolute;
    top: 4px;
    scale: 0.83;
    background-color: transparent;
    border: none;
    width: 100%;
    margin-bottom: 1rem;
}

@media (min-width: 1200px) {
    .scroll-to-top {
        bottom: 3rem;
        right: 3rem;
        scale: 2;
    }

    .errorPage {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: var(--codgray);
        height: 100vh;
        overflow-x: hidden;
    }

    .errorcode {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 25vw;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        font-family: 'Satoshi-Black';
        font-weight: 900;
        color: var(--athens);
        pointer-events: none;
        position: absolute;
        top: -2.6rem !important;
    }

    .redireccion {
        background-color: transparent;
        border-radius: 25px;
        color: var(--athens);
        padding: 0.5rem 1rem;
        border: 1px solid var(--athens);
        font-size: 16px;
        bottom: 4rem;
        text-decoration: none;
        margin-bottom: 1rem;
    }
}
