html {
    scroll-behavior: smooth;
}

.main {
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    --codgray: #161616;
    --athens: #f7f7f8;
    --denim: #1851e3;
    --gallery: #eeeeee;
    font-family: 'Satoshi-Regular', serif;
    background-color: var(--codgray);
}

:root {
    --codgray: #1d1d1d;
    --athens: #e8e8e8;
    --denim: #1560bd;
}

::-moz-selection {
    background-color: var(--athens);
    color: var(--denim);
}

::selection {
    background-color: var(--athens);
    color: var(--denim);
}

::-moz-selection {
    background-color: var(--athens);
    color: var(--denim);
}
