.home {
    position: absolute;
    z-index: 9999;
}

.buttonHome {
    background-color: transparent;
    border: none;
}

#linkHome {
    text-decoration: none;
}

.logoButtonHome {
    @media screen and (min-width: 1200px) {
        width: 102%;
        margin-bottom: 1rem;
        margin-left: -0.5rem;
    }

    @media screen and (max-width: 1199px) {
        width: 230%;
        margin-bottom: 1rem;
        margin-left: -0.3rem;
    }
}
