.home {
    position: absolute;
    z-index: 9999;
}

.buttonHome {
    background-color: transparent;
    border: none;
}

#linkHome {
    text-decoration: none;
}

.logoButtonHome {
    @media screen and (min-width: 1200px) {
        width: 116%;
    }

    @media screen and (max-width: 1199px) {
        width: 250%;
    }
}
