header {
    z-index: 100;
    position: fixed;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin-top: 26.05px;
    background-color: gray;
}

.home {
    margin-right: auto;
}

.nav {
    margin-left: auto;
}
