header {
    z-index: 100;
    position: fixed;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    padding: 1rem 2.5rem 1rem 1.8rem;
    margin-top: 26px;
}

.homeHeader {
    margin-right: auto;
}

.nav {
    margin-left: auto;
    margin-top: -1.5rem;
}
