.buttonNav {
    background-color: transparent;
    border: none;
    color: var(--athens);
    font-family: 'Satoshi-Regular', sans-serif;
    font-size: 18px;
    cursor: pointer;
}

.nav > ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}

.buttonNav > a {
    text-decoration: none;
    color: var(--athens);
    text-transform: lowercase;
}

.buttonNav:hover,
.buttonNav > a:hover {
    color: var(--denim);
}

.buttonNav .active {
    border: 1px var(--athens) solid;
    border-radius: 50rem;
    padding: 0.2rem 1.8rem 0.4rem 1.8rem;
}

.buttonNav .active:hover {
    background-color: var(--athens);
}
