.buttonNav {
    background-color: transparent;
    border: none;
    color: var(--athens);
    font-family: 'Satoshi-Regular';
    font-size: 18px;
    cursor: pointer;
}

.nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.buttonNav > a {
    text-decoration: none;
    color: var(--athens);
    text-transform: lowercase;
}

.buttonNav:hover,
.buttonNav > a:hover {
    color: var(--denim);
}

.buttonNav .active {
    border: 1px var(--athens) solid;
    border-radius: 50rem;
    padding: 0rem 1rem 0.3rem 1rem;
}

.buttonNav .active:hover {
    background-color: var(--athens);
}
