.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--codgray);
    z-index: 99;
    overflow: hidden;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spinner-aib1d7 3s infinite linear;
    z-index: 999;
}

@keyframes spinner-aib1d7 {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
