/* @media (max-width: 2010px) {
    footer {
        position: absolute;
        width: 100vw;

        z-index: 9999;
        background-color: var(--codgray);
    }
    .footertext {
        color: var(--athens);
        height: 514.28px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        box-sizing: border-box;

        padding: 80px 0px;
        font-size: 24px;

        line-height: 1.7rem;
    }
    li {
        line-height: 40px;
    }
    .unusual {
        margin: 0px 0px 10px;
    }

    .unete {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        padding: 16px 0px;
    }

    a {
        color: var(--athens);
        text-decoration: none;
        line-height: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    a:hover {
        color: var(--denim);
    }

    .nohover:hover {
        color: var(--athens);
    }

    .logos {
        height: 287.87px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 25vh;
        padding-right: 25vh;
    }
    .logos > img {
        padding: 20px;
    }
}

@media (max-width: 780px) {
    .footertext {
        size: 1rem;
        line-height: 1.25rem;
    }

    .logos {
        display: flex;
        flex-wrap: wrap;
    }
} */
