div {
    background-color: rgb(123, 153, 170);
}

h1 {
    font-family: 'Lastik';
    font-weight: 100;
    color: var(--codgray);
}

h2 {
    font-family: 'Lastik';
    color: var(--denim);
}

h3 {
    font-family: 'Satoshi-Regular';
    color: var(--gallery);
}

p {
    font-family: 'Satoshi-Italic';
    color: var(--athens);
}
