html {
    scroll-behavior: smooth;
}

.main {
    max-width: 140rem;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --codgray: #161616;
    --athens: #f7f7f8;
    --denim: #1851e3;
    --gallery: #eeeeee;
    font-family: 'Satoshi-Regular', serif;
    background-color: #1851e3;
}
