.main {
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Satoshi-Regular', sans-serif;
}

body {
    --codgray: #161616;
    --athens: #f7f7f8;
    --denim: #1851e3;
    --gallery: #eeeeee;
    font-family: 'Satoshi-Regular', serif;
    background-color: var(--codgray);
    overflow-y: auto;
}

:root {
    --codgray: #1d1d1d;
    --athens: #e8e8e8;
    --denim: #1560bd;
}

::selection {
    background-color: var(--athens);
    color: var(--denim);
}

::-moz-selection {
    background-color: var(--athens);
    color: var(--denim);
}

body::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}

body::-webkit-scrollbar-track {
    background-color: var(--codgray);
    border: 2px solid var(--codgray);
    border-top: none;
    border-bottom: none;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--denim);
    border: 2px solid var(--codgray);
}
