body {
    overflow-y: auto;
}

body::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}

body::-webkit-scrollbar-track {
    background-color: var(--codgray);
    border: 2px solid var(--codgray);
    border-top: none;
    border-bottom: none;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--denim);
    border: 2px solid var(--codgray);
}
